:root {
    --hue: 197;
    --cardWidthSmall: 39vw;
    --cardWidthMedium: 25vw;
    --cardWidthLarge: 19vw;
    transition: all 1s ease-out;

    &.change-hue {
        --hue: 360;
    }
}

//Color Paletes
$primaryColor: hsl(var(--hue), 34%, 64%); //#84b1c2
$primaryDarkColor: hsl(var(--hue), 97%, 25%); //#02587b - 
$primaryExtraDarkColor: hsl(var(--hue), 90%, 11%); //#032735 - for normal fonts
$primaryLightColor: hsl(var(--hue), 25%, 88%);  //#d9e4e8
$primaryExtraLightColor: hsl(var(--hue), 22%, 92%);  //#e6edef
$primaryUltraLightColor: hsl(var(--hue), 25%, 96%);  //#f2f6f7
$modalOverlayColor: hsla(var(--hue), 17%, 21%, .8); //#2c383e
$hoverTextColor: #D47F00;

$headerHeightSmall: 48px;
$headerHeightMedium: 56px;
$headerHeightLarge: 60px;
:root {
    --headerHeightLarge: 60px;
}

$menuIconWidthSmall: 19.5px;
$menuIconWidth: 24px;

$extraSmallScreenVerticalPadding: 24px;
$smallSreenVerticalPadding: 6vw;
$largeScreenVerticalPadding: 25px;

$veryShortDuration: .1s;
$shortDuration: .2s;
$duration: .3s;
$longDuration: 1s;

$smallRowMargin: 16px;
$rowMargin: 24px;
$largeRowMargin: 40px;




