
//Color Paletes 
$hue1: 197;
$primaryColor: hsl($hue1, 34%, 64%); //#84b1c2
$primaryDarkColor: hsl($hue1, 97%, 25%); //#02587b - 
$primaryExtraDarkColor: hsl($hue1, 90%, 11%); //#032735 - for normal fonts
$primaryLightColor: hsl($hue1, 25%, 88%);  //#d9e4e8
$primaryExtraLightColor: hsl($hue1, 22%, 92%);  //#e6edef
$primaryUltraLightColor: hsl($hue1, 25%, 96%);  //#f2f6f7

$headerHeight: 48px;




