.banner {
    margin-top: $headerHeightSmall;
    padding-top: 1px;
    height: 345px;
    position: relative;
    background: rgba(255, 255, 255, .8) url('./assets/images/banner__bg--small.jpg') no-repeat center center fixed;
    background-blend-mode: lighten;
    background-size: cover;

    @include smallScreen {
        margin-top: $headerHeightMedium;
        height: 480px;
    }

    @include largeScreen {
        margin-top: $headerHeightLarge;
        min-height: 400px;
        height: calc(100vh - var(--headerHeightLarge));
    }

    &::after {
        content: '';
        width: 100%;
        height: 67px;
        display: block;
        position: absolute;
        bottom: 0;
        background-image: linear-gradient(to bottom, hsl(var(--hue), 22%, 92%, 0%), hsl(var(--hue), 22%, 92%, 100%));

        @include smallScreen {
            height: 83px;
        }
    }
    
    &__title {
        transition: transform .2s ease-out;
        
        h1 {
            font-size: (24rem / 16);
            font-weight: bold;
            text-transform: uppercase;
            color: $primaryColor;
            transition: color .2s ease-out;

            @include smallScreen {
                font-size: (40rem / 16);
            }

            @include largeScreen {
                font-size: (64rem / 16);
            }
        }

        &:hover, &:focus {
            transform: scale(1.1) translateY(-.3rem);

            h1 {
                color: $hoverTextColor;
            }
        }
    }
}