.page-section {
    margin-top: 16px;
    margin-bottom: 40px;

    @include smallScreen {
        margin-top: 32px;
        margin-bottom: 65px;
    }

    @include largeScreen {
        margin-bottom: 84px;
    }

    &--t-margin-medium {
        margin-top: 32px;

        @include smallScreen {
            margin-top: 48px;
        }
    }

    &--b-margin-only {
        margin: 0 auto 16px auto;

        @include smallScreen {
            margin: 0 auto 24px auto;
        }

        @include extraLargeScreen {
            margin: 0 auto 32px auto;
        }
    }

    &--b-large-margin-only {
        margin: 0 auto 41px auto;

        @include smallScreen {
            margin: 0 auto 60px auto;
        }

        @include mediumScreen {
            margin: 0 auto 80px auto;
        }

        @include largeScreen {
            margin: 0 auto 100px auto;
        }
    }
}