.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -$smallRowMargin;
    width: calc(var(--cardWidthSmall) * 2 + 25px);

    @include mediumScreen {
        margin-bottom: -$rowMargin;
        width: calc(var(--cardWidthMedium) * 3 + 30px * 2);
    }

    @include extraLargeScreen {
        margin-bottom: -$largeRowMargin;
        width: calc(var(--cardWidthLarge) * 4 + 46px * 3);
        max-width: 1200px;
    }

    > div {
        width: var(--cardWidthSmall);
        margin-right: $smallRowMargin;
        margin-bottom: $smallRowMargin;

        &:nth-of-type(even) {
            margin-right: 0;
        }

        @include mediumScreen {
            width: var(--cardWidthMedium);
            margin-right: $rowMargin;
            margin-bottom: $rowMargin;

            &:nth-of-type(even) {
                margin-right: $rowMargin;
            }

            &:nth-of-type(3n+0) {
                margin-right: 0;
            }
        }

        @include extraLargeScreen {
            width: var(--cardWidthLarge);
            max-width: 266px;
            margin-right: $largeRowMargin;
            margin-bottom: $largeRowMargin;

            &:nth-of-type(even) {
                margin-right: $largeRowMargin;
            }

            &:nth-of-type(3n+0) {
                margin-right: $largeRowMargin;
            }

            &:nth-of-type(4n+0) {
                margin-right: 0;
            }
        }
    }
}