.secondary-nav {
    position: relative;
    padding-top: 14.5px;
    padding-bottom: 11.5px;
    border-top: 1.5px solid $primaryLightColor;
    border-bottom: 1.5px solid $primaryLightColor;
    
    a {
        font-size: (12rem / 16);
        color: $primaryDarkColor;
        display: inline-block;
        height: 34px;
        padding-top: 20px;
        margin-right: 32px;
        position: relative;
        transition: color .2s ease-out;

        @include smallScreen {
            font-size: (14rem / 16);
            height: 45px;
            margin-right: 64px;
        }

        &:nth-last-of-type(1) {
            margin-right: 0;
        }

        svg {
            fill: $primaryDarkColor;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            transition: all .2s ease-out;

            @include smallScreen {
                width: 20px;
                height: 20px;
                top: -2px;
            }
        }

        &:hover, &:focus {
            color: $hoverTextColor;

            svg {
                fill: $hoverTextColor;
                transform: scale(1.3) translateY(-2px);
            }
        }
    }
}