.site-header {
    background-color: $primaryLightColor;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, .16);
    height: $headerHeightSmall;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;

    @include smallScreen {
        height: $headerHeightMedium;
    }

    @include largeScreen {
        height: $headerHeightLarge;
    }

    &__logo {
        margin-top: 4px;
        margin-left: -8px;

        a {
            display: inline-block;
        }
        
        svg {
            height: 24px;

            @include smallScreen {
                height: 36px;
            }
        }
    }
    
    &__menu-icon {
        height: 16px;
        width: $menuWidthSmall;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;

        @include smallScreen {
            height: 18px;
            width: $menuWidth;
        }
        
        > div {
            width: $menuWidthSmall;
            height: 2px;
            background-color: $primaryDarkColor;
            transition: transform .3s ease-out;
            pointer-events: none;

            @include smallScreen {
                width: $menuWidth;
            }
        }
        
        &::before {
            content: '';
            display: inline-block;
            width: $menuWidthSmall;
            height: 2px;
            background-color: $primaryDarkColor;
            position: absolute;
            top: 0px;
            transform-origin: 0 0;
            transition: transform .3s ease-out;
            pointer-events: none;

            @include smallScreen {
                width: $menuWidth;
            }
        }
        
        &::after {
            content: '';
            display: inline-block;
            width: $menuWidthSmall;
            height: 2px;
            background-color: $primaryDarkColor;
            position: absolute;
            bottom: 0px;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
            pointer-events: none;

            @include smallScreen {
                width: $menuWidth;
            }
        }
        
        &--close {
            
            > div {
                transform: scale(0);
            }

            &::before {
                transform: rotate(45deg) scaleX(1.07);

                @include smallScreen {
                    transform: rotate(43deg);
                }
            }

            &::after {
                transform: rotate(-45deg) scaleX(1.07);

                @include smallScreen {
                    transform: rotate(-43deg);
                }
            }
        }
    }
    
    &__nav {
        position: absolute;
        top: $headerHeightSmall + 16px;
        right: -148px;
        background-color: $primaryExtraLightColor;
        border-radius: 8px;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .25);
        opacity: 0;
        pointer-events: none;
        transition: all .3s ease-out;

        @include smallScreen {
            top: $headerHeightMedium + 16px;
        }

        @include largeScreen {
            top: $headerHeightLarge + 19px;
            right: 6vw;
            transform: scale(.8);
            transition: all .2s ease-out;
        }

        &--show {
            opacity: 1;
            pointer-events: all;
            transform: translateX(-172px);

            @include smallScreen {
                transform: translateX(-192px);
            }

            @include mediumScreen {
                transform: translateX(-210px);
            }

            @include largeScreen {
                transform: translateX(0) scale(1);
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0 24px;
        }

        a {
            text-decoration: none;
            border-bottom: 1.5px solid $primaryLightColor;
            display: inline-block;
        }

        li, a {
            font-size: (18rem / 16);
            color: $primaryDarkColor;
            line-height: 55px;
            text-align: center;

            @include smallScreen {
                font-size: (24rem / 16);
                line-height: 78px;
            }
        }
    }
}