.site-header {
    background-color: $primaryLightColor;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, .16);
    height: $headerHeightSmall;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    
    @include smallScreen {
        height: $headerHeightMedium;
    }
    
    @include largeScreen {
        height: $headerHeightLarge;
    }
    
    &--small-height-screen {
        position: relative;
        margin-bottom: -$headerHeightSmall;
        
        @include smallScreen {
            margin-bottom: -$headerHeightMedium;
        }
        
        @include largeScreen {
            margin-bottom: -$headerHeightLarge;
        }
    }
    
    &__logo {
        margin-top: 4px;
        margin-left: -8px;

        &:focus {
            outline: none;
        }
        
        a {
            display: inline-block;
        }
        
        svg {
            fill: $primaryDarkColor;
            height: 24px;
            
            @include smallScreen {
                height: 36px;
            }
        }
    }
    
    &__menu-icon {
        height: 16px;
        width: $menuIconWidthSmall;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        
        @include smallScreen {
            height: 18px;
            width: $menuIconWidth;
        }
        
        > div {
            width: $menuIconWidthSmall;
            height: 2px;
            background-color: $primaryDarkColor;
            transition: transform .3s ease-out;
            pointer-events: none;
            
            @include smallScreen {
                width: $menuIconWidth;
            }
        }
        
        &::before {
            content: '';
            display: inline-block;
            width: $menuIconWidthSmall;
            height: 2px;
            background-color: $primaryDarkColor;
            position: absolute;
            top: 0px;
            transform-origin: 0 0;
            transition: transform .3s ease-out;
            pointer-events: none;
            
            @include smallScreen {
                width: $menuIconWidth;
            }
        }
        
        &::after {
            content: '';
            display: inline-block;
            width: $menuIconWidthSmall;
            height: 2px;
            background-color: $primaryDarkColor;
            position: absolute;
            bottom: 0px;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
            pointer-events: none;
            
            @include smallScreen {
                width: $menuIconWidth;
            }
        }
        
        &--close {
            
            > div {
                transform: scale(0);
            }
            
            &::before {
                transform: rotate(45deg) scaleX(1.07);
                
                @include smallScreen {
                    transform: rotate(43deg);
                }
            }
            
            &::after {
                transform: rotate(-45deg) scaleX(1.07);
                
                @include smallScreen {
                    transform: rotate(-43deg);
                }
            }
        }
    }
    
    &__nav {
        position: absolute;
        top: $headerHeightSmall + 16px;
        right: 0;
        pointer-events: none;
        z-index: 5;
        width: (150px + $extraSmallScreenVerticalPadding);
        height: 241px;
        overflow-x: hidden;

        @include smallScreen {
            height: 334px;
            width: 223px;
        }

        @include largeScreen {
            width: 280px;
        }
        
        ul {
            list-style: none;
            margin: 0;
            padding: 0 24px;
            position: absolute;
            top: 8px;
            opacity: 0;
            pointer-events: none;
            right: -148px;
            transition: all .3s ease-out;
            background-color: $primaryExtraLightColor;
            border-radius: 8px;
            box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .25);

            @include smallScreen {
                right: -174px;
            }

            @include largeScreen {
                right: 6vw;
                transform: scale(.8);
                transition: all .2s ease-out;
            }
        }
        
        @include smallScreen {
            top: $headerHeightMedium + 16px;
        }
        
        @include largeScreen {
            top: $headerHeightLarge + 19px;
        }
        
        &--show {
            
            ul {
                pointer-events: all;
                opacity: 1;
                transform: translateX(-148px - $extraSmallScreenVerticalPadding);
            }
            
            @include smallScreen {

                ul {
                    transform: translateX(-192px);
                }
            }
            
            @include mediumScreen {

                ul {
                    transform: translateX(-210px);
                }
            }
            
            @include largeScreen {

                ul {
                    transform: translateX(0) scale(1);
                }
            }
        }
        
        li {
            border-bottom: 1.5px solid $primaryLightColor;
        }
        
        a {
            display: inline-block;
            cursor: pointer;
            transition: all .2s ease-out;
            
            &:hover, &:focus {
                color: $hoverTextColor;
            }
        }
        
        li, a {
            font-size: (18rem / 16);
            color: $primaryDarkColor;
            line-height: 55px;
            text-align: center;
            
            @include smallScreen {
                font-size: (24rem / 16);
                line-height: 78px;
            }
        }
        
        &__toggle-btn {
            display: inline-block;
            border: none;
            width: 24px;
            height: 15px;
            border-radius: 7.5px;
            background-color: $primaryColor;
            margin-left: 10px;
            position: relative;
            cursor: pointer;
            top: -5px;
            
            @include smallScreen {
                width: 32px;
                height: 20px;
                border-radius: 10px;
            }
            
            &:focus {
                outline: none;
            }
            
            &::after {
                content: '';
                width: 12px;
                height: 12px;
                display: inline-block;
                background-color: $primaryDarkColor;
                border-radius: 50%;
                position: absolute;
                top: 1.5px;
                transform: translateX(-10px);
                transition: all .3s ease-out;
                
                @include smallScreen {
                    width: 16px;
                    height: 16px;
                    top: 2px;
                    transform: translateX(-14px);
                }
            }
            
            &--on {
                
                &::after {
                    left: auto;
                    transform: translateX(-2px);
                }
            }
        }
    }
}