.tab {
    margin-top: ($headerHeightSmall + 16px);
    
    @include smallScreen {
        margin-top: ($headerHeightMedium + 24px);
    }
    
    @include largeScreen {
        margin-top: ($headerHeightLarge + 24px);
    }

    @include extraLargeScreen {
        margin-top: ($headerHeightLarge + 32px);
    }
    
    &__header {
        list-style: none;
        display: flex;
        justify-content: center;

        &
        
        &__li {
            display: inline-block;
            margin-right: 24px;

            &:nth-last-of-type(1) {
                margin-right: 0;
            }
        }
        
        &__title {
            display: inline-block;
            font-size: (12rem / 16);
            line-height: 36px;
            font-weight: 500;
            color: $primaryColor;
            border-radius: 4px;
            padding: 0 12px;
            transition: all $duration ease-out;
            letter-spacing: .2px;
            text-transform: uppercase;

            &.active {
                color: $primaryDarkColor;
                background-color: $primaryLightColor;
            }

            @include smallScreen {
                font-size: (14rem / 16);
                line-height: 39px;
                padding: 0 14px;
            }

            @include extraLargeScreen {
                font-size: (18rem / 16);
                padding: 0 16px;
                line-height: 45px;
            }
        }
    }

    &__content {

        &__pane {
            display: none;
            opacity: 0;
            transition: all $duration ease-out;

            &--show {
                display: block;
                opacity: 1;
            }
        }
    }
}