.wrapper {
    padding: 0 $extraSmallScreenVerticalPadding;
    max-width: 1250px;
    margin: 0 auto;

    @include smallScreen {
        padding: 0 $smallSreenVerticalPadding;
    }

    &--center-children {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &--vertical-center-children {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        @include largeScreen {
            position: relative;
        }
    }

    &--horizontal-center-children {
        text-align: center;
    }
}